@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@theme {
    --font-display: "Manrope", sans-serif;

    --color-primary: #BF953F;
    --color-primary-hover: #AA8535;
    --color-primary-light: #F3E5AB;
    --color-background-light: #050505;
    --color-background-dark: #000000;
    --color-surface-light: #121212;
    --color-surface-dark: #0a0a0a;
    --color-text-main: #ffffff;
    --color-text-secondary: #9ca3af;
    --color-border-subtle: rgba(255, 255, 255, 0.1);
}

/* Custom Metallic Utility Classes from design */
.text-metallic {
    background: linear-gradient(to right, #BF953F 0%, #FCF6BA 50%, #B38728 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: #BF953F;
    font-weight: 800;
}

.bg-metallic {
    background: linear-gradient(110deg, #BF953F 20%, #F3E5AB 40%, #AA8535 60%, #BF953F 90%);
    background-size: 200% auto;
    color: black;
    transition: all 0.5s ease;
}

.bg-metallic:hover {
    background-position: right center;
    box-shadow: 0 0 20px rgba(191, 149, 63, 0.6);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

body {
    @apply bg-background-light text-text-main font-display;
}

@keyframes bounce-slow {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

.animate-bounce-slow {
    animation: bounce-slow 3s infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    display: flex;
    white-space: nowrap;
    animation: marquee 30s linear infinite;
}

.animate-marquee:hover {
    animation-play-state: paused;
}